---
const { title, image } = Astro.props;
---

<section class="relative w-full overflow-hidden">
  <!-- Background Image with Overlay -->
  <div class="absolute inset-0 z-0">
    <img src={image} alt={title} class="w-full h-full object-cover" />
    <div class="absolute inset-0 bg-[#0E173B]/75"></div>
  </div>

  <!-- Content Container -->
  <div
    class="relative z-10 container mx-auto px-4  md:py-20 flex flex-col items-center justify-center text-center mt-20"
  >
    <!-- Breadcrumbs -->
    <div class="my-6 w-full max-w-3xl mx-auto">
      <span
        class="bg-hotpink text-white text-xs sm:text-sm md:text-base font-semibold px-3 sm:px-4 py-1 sm:py-1.5 rounded-full block sm:inline-block text-center"
      >
        Home / Blogs / {title}
      </span>
    </div>

    <!-- Main Content -->
    <div class="w-full max-w-3xl mx-auto">
      <!-- Title with Animation -->
      <h1
        class="text-4xl md:text-5xl lg:text-6xl font-bold text-white mb-6 transition-all duration-700 ease-in-out transform translate-y-0 opacity-100 text-shadow-lg"
      >
        <span class="inline-block hoverable-text">{title} </span>
      </h1>
    </div>
  </div>
</section>
